# Importando as bibliotecas

In [11]:
import pandas as pd

# Criando um data frame

In [10]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, "l1 l2 l3 l4".split(), "c1 c2 c3 c4".split())

# Selecionando linhas e colunas

In [13]:
# Selecionando as colunas

df[["c3", "c4"]]

    c3  c4
l1   3   4
l2   7   8
l3  11  12
l4  15  16

In [15]:
# Selecionando as linhas à partir da 1 até a 3

df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [16]:
# Selecinando todas as linhas à partir da linha 1 das colunas c3 e c1

df[1:][["c3", "c1"]]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [17]:
# Fazendo a seleção através dos rótulos das linhas

df.loc[["l3", "l2"]]

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [18]:
# Fazendo a seleção através do número da linha 0 e coluna 1

df.iloc[0, 1]

2

In [ ]:
# Exercício