In [1]:
# Importando as bibliotes

import pandas as pd

In [2]:
# Criando uma lista

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
# Criando um data frame e criando o nome dos index e das colunas com a função lsit

df = pd.DataFrame(data, list("321"), list("ZYX"))
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

In [8]:
# Organizando os index

df.sort_index(inplace = True)

# Organizando as colunas
df.sort_index(inplace = True, axis = 1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [9]:
# Exercícios 1

# Criando o data frame

data = [[9, 6, 3],
       [8, 5, 2],
       [7, 4, 1]]
data

[[9, 6, 3], [8, 5, 2], [7, 4, 1]]

In [12]:
# Criando o index e o nome das colunas

index = ["Z", "Y", "X"]
columns = ["C", "B", "A"]

['C', 'B', 'A']

In [13]:
# Criando o data frame

data = pd.DataFrame(data = data, index = index, columns = columns)
data

   C  B  A
Z  9  6  3
Y  8  5  2
X  7  4  1

In [20]:
data.sort_index(inplace = True)
data

   C  B  A
X  7  4  1
Y  8  5  2
Z  9  6  3

In [21]:
data.sort_index(inplace = True, axis = 1)
data

   A  B  C
X  1  4  7
Y  2  5  8
Z  3  6  9

In [ ]:
# Exercícios 2

df_a =