In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
plt.rc("figure", figsize = (14, 6))

In [4]:
# Importando os dados

dados = pd.read_csv("Dados/aluguel_amostra.csv", sep = ";")
dados.head(5)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Recreio dos Bandeirantes,3,2,1,320,3200.0,1319.0,0.0,10.00,Apartamento
1,Apartamento,Maracanã,2,0,0,59,800.0,725.0,47.0,13.56,Apartamento
2,Apartamento,Leblon,3,2,1,147,7500.0,1000.0,381.0,51.02,Apartamento
3,Apartamento,São Conrado,3,3,3,270,14999.0,2800.0,1200.0,55.55,Apartamento
4,Apartamento,Tijuca,2,1,0,65,1200.0,640.0,97.0,18.46,Apartamento

In [5]:
# Criando a série

valor_m2 = dados["Valor m2"]

0       10.00
1       13.56
2       51.02
3       55.55
4       18.46
        ...
9995    96.88
9996    31.58
9997    40.00
9998    34.00
9999     8.33
Name: Valor m2, Length: 10000, dtype: float64

In [18]:
# Criando os quartis

Q1 = valor_m2.quantile(.25).round(2)
Q3 = valor_m2.quantile(.75).round(2)
IIQ = (Q3 - Q1).round(2)
limite_inferior = (Q1 - 1.5 * IIQ).round(2)
limite_superior = (Q3 + 1.5 * IIQ).round(2)

In [19]:
Q1

21.25

In [20]:
Q3

42.31

In [21]:
limite_inferior

-10.34

In [22]:
limite_superior

73.9